<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { ref } from 'vue';

const receiptstore = useReceiptStore()

const level = ['Hot','Ice', 'Bld']
const sugar = ['Min','Nor','Max']
const select = ref('lev')
</script>

<template>
  <v-table>
    <thead>
      <tr style="background-color: #806044; color: aliceblue">
        <th>Order</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Total</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody style="background-color: #cbb89d">
      <tr v-for="(item, index) of receiptstore.receiptItems" :key="item.id">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}({{ item.level }})</td>
        <td>
          <v-btn
            class="custom-button1"
            size="20"
            icon="mdi-minus"
            density="compact"
            @click="receiptstore.dec(item)"
          ></v-btn
          >{{ item.unit
          }}<v-btn
            class="custom-button2"
            size="20"
            icon="mdi-plus"
            density="compact"
            @click="receiptstore.inc(item)"
          ></v-btn>
        </td>
        <td>{{ item.price * item.unit }}</td>
        <td>
          <v-btn
            size="40"
            color="red"
            icon="mdi-delete"
            @click="
              () => {
                receiptstore.removeReceipt(item)
              }
            "
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>

<style scoped>
.custom-button1 {
  background-color: EDEID2;
  margin-right: 4px;
  margin-left: 4px;
}
.custom-button2 {
  background-color: EDEID2;
  margin-right: 4px;
  margin-left: 4px;
}
</style>
