<template>
  <div>
    <video style="margin-left: -25px; margin-top: -25px; margin-right: -5px; margin-bottom: -30px;" width="110%" height="120%" loop autoplay muted>
    <source src="./vdo/coffee.mp4" type="video/mp4" />
  </video>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 2em; font-weight: bold;">
    <v-row>
      <v-col cols="4">
        <v-card class="cardrole"> 
          <v-card-title style="text-align: center;">
            Thanaphat Ketsani 
          </v-card-title>
          <v-card-text>
            <br>
            <p style="font-size: 13pt; font-family: Monaco;">
              ID: 65160169 <br>
              ROLE: FullStack <br><br>
              Work: <br>
              - POS <br>
              - Stock Management <br>
              - Member <br>
              - Receipt History <br>
              - About

            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card class="cardrole"> 
          <v-card-title style="text-align: center;">
            Sorawit Ketmart 
          </v-card-title>
          <v-card-text>
            <br>
            <p style="font-size: 13pt; font-family: Monaco;">
              ID: 65160198 <br>
              ROLE: FrontEnd <br><br>
              Work: <br>
              - POS <br>
              - Member <br>
              - Receipt History <br>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card class="cardrole"> 
          <v-card-title style="text-align: center;">
            Chonthicha Aupatree 
          </v-card-title>
          <v-card-text>
            <br>
            <p style="font-size: 13pt; font-family: Monaco;">
              ID: 65160154 <br>
              ROLE: FrontEnd <br><br>
              Work: <br>
              - POS <br>
              - Login <br>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>  
    <v-row style="margin-left: 110px;">
      <v-col cols="5">
        <v-card class="cardrole"> 
          <v-card-title style="text-align: center;">
            Pattaraphol Jittiwanttnapong 
          </v-card-title>
          <v-card-text>
            <br>
            <p style="font-size: 13pt; font-family: Monaco;">
              ID: 65160187 <br>
              ROLE: FrontEnd <br><br>
              Work: <br>
              - Stock Management <br>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card class="cardrole">
          <v-card-title style="text-align: center;">
            Peerawich Tabsiri 
          </v-card-title>
          <v-card-text>
            <br>
            <p style="font-size: 13pt; font-family: Monaco;">
              ID: 65160301 <br>
              ROLE: FrontEnd <br><br>
              Work: <br>
              - Stock Management <br>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
  </div>
</template>
<style scoped>
.cardrole{
  width: 250px; 
  height: 280px;
}
.cardrole:hover{
  width: 250px; 
  height: 280px;
  background-color: #8b4513;
  color: gold;
}
</style>
