<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useOrderStore } from '@/stores/Order'
import type { Order } from '@/types/Order'

const OrderStore = useOrderStore()

const OrderHistory = ref(OrderStore.Order)
const dialog = ref(false)

const orderHeaders = [
  { title: 'ID', value: 'id' },
  { title: 'Date', value: 'Date' },
  { title: 'Amount', value: 'Amount' },
  { title: 'Total Price', value: 'Total_price' },
  { title: 'Vendor', value: 'Vendor' },
  { title: 'Actions', value: 'actions', sortable: false }
]

const initialOrder: Order = {
  id: 0,
  Date: '',
  Amount: 0,
  Total_price: 0,
  Vendor: ''
}

function initializeOrderHistory() {
  OrderHistory.value = OrderStore.Order
}

onMounted(() => {
  initializeOrderHistory()
})

function showDetails(item: Order) {
  item.dialog = true
  item.dialogType = 'details'
}

function deleteOrder(item: Order) {
  const index = OrderHistory.value.indexOf(item)

  // If the item is found, remove it
  if (index !== -1) {
    OrderHistory.value.splice(index, 1)
  }
}

function viewOrder(item: Order) {
  // Handle viewing order details as needed
  console.log(item)
}

</script>

<template>
  <div>
    <v-data-table :headers="orderHeaders" :items="OrderHistory"
      style="background-color: antiquewhite">
      <template v-slot:top >
        <v-toolbar flat style="background-color: #806044">
          <v-toolbar-title style="color: rgb(255, 255, 255)"> Order Ingredient </v-toolbar-title>
          <v-divider class="mx-4" inset vertical color="blue darken-2"></v-divider>
        </v-toolbar>
      </template>
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.Date }}</td>
          <td>{{ item.Amount }}</td>
          <td>{{ item.Total_price }}</td>
          <td>{{ item.Vendor }}</td>
          <td>
            <v-dialog width="800">
              <template v-slot:activator="{ props }">
                <v-icon v-bind="props" text="view">mdi-eye</v-icon>
              </template>

              <template v-slot:default="{ isActive }">
                <!-- Rest of your card content as before -->
              </template>
            </v-dialog>
            <v-icon style="margin-left: 3px" @click="deleteOrder(item)">mdi-delete</v-icon>
          </td>
        </tr>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initializeOrderHistory">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

