<template>
    <div>
      <video style="margin-left: -25px; margin-top: -25px; margin-right: -5px; margin-bottom: -28px;" width="110%" height="120%" loop autoplay muted>
      <source src="./vdo/coffee.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    </div>
  </template>