<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import type { User } from '@/types/User'
import { type Ref, inject, ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')

const rail = inject<Ref<boolean>>('rail')

const authStore = useAuthStore()
const dialog = ref(false)
const email = ref('')
const password = ref('')
const loginError = ref('');
const handleLogin = () => {
  if (email.value && password.value) {
    if (authStore.login(email.value, password.value)) {
      dialog.value = false;
      email.value = '';
      password.value = '';
      loginError.value = '';
    }
    else {
      loginError.value = 'ล็อกอินล้มเหลว';
    }

  }
};
</script>
<template   >
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false" style="background-color:#383330;">
    <v-list-item style="color: azure;"
      prepend-avatar="https://64.media.tumblr.com/df84e19495a37d76ac85eddef5675265/tumblr_ozuc2dj50V1txvmwyo1_r1_1280.jpg"
      :title="authStore.currentUser.fullname" :subtitle="authStore.currentUser.email" nav>
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item style="color: azure;" prepend-icon="mdi-store" title="POS" value="pos"
        :to="{ name: 'pos' }"></v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-account" title="Users" value="Users"
        :to="{ name: 'users' }"></v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-treasure-chest-outline" title="Stock Management" value="Stock"
        :to="{ name: 'stock' }">
      </v-list-item>

      <v-list-item style="color: azure;" prepend-icon="mdi-basket-check-outline" title="Order Ingredient"
        value="orderingredient" :to="{ name: 'orderingredient' }">
      </v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-cash-multiple" title="Salary" value="Salary"
        :to="{ path: '/salary' }">
      </v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-clock-check" title="CheckInCheckOut" value="CheckInCheckOut"
        :to="{ path: '/check-in-check-out' }">
      </v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-star-circle" title="Member" value="Member"
        :to="{ path: '/member' }"></v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-clipboard-text-clock-outline" title="Reciept History"
        value="Reciept" :to="{ path: '/reciept-history-view' }"></v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-star-circle" title="Promotion"
        value="Promotion" :to="{ path: '/Promotion' }"></v-list-item>
      <v-list-item style="color: azure;" prepend-icon="mdi-information-variant-circle" title="About" value="About"
        :to="{ path: '/about' }"></v-list-item>
      <br>
      <br>
      <br>
      <br>
      
      <v-dialog v-model="dialog" persistent width="1024">
        <template v-slot:activator="{ props }">
          <v-btn v-bind="props" class="custom-login-button" dark @click="handleLogin"  color="green">
            <v-icon left>mdi-login</v-icon>
          </v-btn>
          <br>
          <br>
          <v-btn @click="authStore.logout" color="red">
            <v-icon  left>mdi-logout</v-icon>
          
          </v-btn>
        </template>
        <v-dialog v-model="dialog" persistent width="400">
          <v-card>
            <v-card-title>
              <span class="text-h5" style="color: Chocolate;">LOGIN</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="email" label="Email*" required :error-messages="[loginError]"></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field v-model="password" label="Password*" type="password" required
                      :error-messages="[loginError]"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue-darken-1" variant="text" @click="dialog = false">
                Close
              </v-btn>
              <v-btn color="blue-darken-1" variant="text" @click="handleLogin">
                Login
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-dialog>

    </v-list>

  </v-navigation-drawer>
</template>

