<script setup lang="ts">
import { type Ref, inject, ref } from 'vue';

const rail = inject<Ref<boolean>>('rail')

const dialog = ref(false)
</script>
<template>
  <v-app-bar
    image="https://images.unsplash.com/photo-1447933601403-0c6688de566e?q=80&w=1961&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

    <template v-slot:prepend>
      <v-app-bar-nav-icon style="color: white;" @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title style="color: white;">D-Coffee</v-app-bar-title>

    <v-spacer></v-spacer>


    <div>

   




    </div>
    <!-- <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn> -->
  </v-app-bar>
</template>

<style scoped>
.custom-login-button {
  color: white;
  background-color: chocolate;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
</style>