<script setup lang="ts">
import { type Product } from '@/types/Product'
import { nextTick, onMounted, ref, watch } from 'vue'
const props = defineProps<{
  product: Product,
}>()
const emit = defineEmits<{
  selectedProduct: [Product]
}>()
const selected = function () {
  console.log('ProductCard: ' + props.product)
  emit('selectedProduct', props.product)
}

import { useIngredientStore } from '@/stores/Ingredient'
import type { VForm } from 'vuetify/components'
import type { Ingredient } from '@/types/Ingredient'
import { useReceiptStore } from '@/stores/receipt'

const form = ref(false)

function onSubmit() {}

function closeDialog() {
  dialog.value = false
}

const level = ref('')
async function save() {
  props.product.level = level.value
  selected()
  closeDialog()
}

const receiptstore = useReceiptStore()

const dialog = ref(false)

const items = ['Hot','Cold','Blend']

</script>

<template>
  <v-sheet width="170 " height="180" elevation="3" @click="dialog = true" class="product">
    <v-img :src="`./img/coffees/product${product.id}.png`" height="120" cover></v-img>
    <div style="text-align: center">
      {{ product.name }} <br />
      {{ product.price }} บาท
      <br />
      <v-dialog v-model="dialog" persistent width="350">
        <v-card>
          <v-card-title>
            <span class="text-h5">Product Info </span>
          </v-card-title>
          <v-img style="height: 300px; width: 300px;" :src="`./img/coffees/product${product.id}.png`" height="120" cover></v-img>
          <v-card-text>
            <p style="font-size: 14pt;">
               สินค้า: {{ product.name }} <br>
               ราคา: {{ product.price }}
                     {{ product.level }}
            </p>
              <div v-if="product.type == 1">
                <br>
                <p style="font-size: 14pt;">
                  ระดับความร้อน: <br>
                  <input type="radio" v-model="level" value="Hot">
                Hot <br>
                <input type="radio" v-model="level" value="Cold">
                Cold <br>
                <input type="radio" v-model="level" value="Blended">
                Blended  <br>
                </p>
                <br>
                <p style="font-size: 14pt;">
                  เลือกระดับความหวาน: <br>
                  <input type="radio" v-model="level" value="Hot">
                Hot <br>
                <input type="radio" v-model="level" value="Cold">
                Cold <br>
                <input type="radio" v-model="level" value="Blended">
                Blended  <br>
                </p>
              </div>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
            <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-sheet>
</template>
<style>
.product {
  border: 1px solid white;
}
.product:hover {
  border-color: black;
}
</style>
